<div class="row justify-content-center">
  <h2>Dashboard</h2>
  <div class="row w-100 ">
    <div class="col-md-4">
      <%= render "dashboard/dashboard_menu", page: "followee" %>
    </div>
    <div class="col-md-8">
      <div class="d-flex row">
        <% if @followee.count > 0  %>
          <% @followee.each do |user| %>
            <%= render "profile/user_card", user: user %>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center">
            <b>You don't follow any users! 😢😢😢</b>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>