<div class="row justify-content-center">
  <h2>Dashboard</h2>
  <div class="row w-100 ">
    <div class="col-md-4">
      <%= render "dashboard/dashboard_menu", page: "tags" %>
    </div>
    <div class="col-md-8">
      <div class="d-flex row">
        <% if @tags.count > 0  %>
          <% @tags.each do |tag| %>
            <%= render "dashboard/tag", tag: tag %>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-center align-items-center">
            <b>You don't have any tags! 😢😢😢</b>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>