<div class="row justify-content-center">
  <h2>Dashboard</h2>
  <div class="row w-100 ">
    <div class="col-md-4">
      <%= render "dashboard/dashboard_menu", page: "notifications" %>
    </div>
    <div class="col-md-8">
      <% @notifications.each do |notification| %>
          <%= content_tag(:div) do %>
            <div class="card mb-2" style="border: none;">
              <div class="card-header d-flex justify-content-between align-items-center rounded-2" style="border: none; background-color: #EFEFEF;">
                <div>
                  <%= link_to "#{notification.as_read?? "☑️" : "🔔"} #{notification.content}",
                              view_object_path(notification),
                              data:{turbo: false},
                              style: if notification.healthy?
                                       notification.as_read? ? "color: #3887BE;" : "color: #E36414;"
                                     else
                                       "color: #BF3131;"
                                     end %>
                </div>
                <div>
                  <b>Created</b> <%= time_ago_in_words(notification.created_at) %> ago
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <%= paginate @notifications, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-end",
               nav_class: "d-inline-block col-12" %>
</div>