<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <h1>All Albums</h1>

    <%= render "admin/albums/admin_albums", albums: @albums %>
    <%= paginate @albums, theme: 'bootstrap-5',
                 pagination_class: "pagination-sm flex-wrap justify-content-center",
                 nav_class: "d-inline-block"%>


  </div>
</main>