<% if users.count > 0 %>
  <h3 class="col-12">Users Result</h3>
  <% users.each do |user| %>
    <%= render "profile/user_card", user: user %>
  <% end %>
<% else %>
  <h3 class="col-12">Nothing users to show!!!</h3>
<% end %>