<div class="row row-cols-6 d-flex align-items-center">
  <% if photos.count > 0 %>
    <h3 class="col-12">Photos Result</h3>
    <% photos.each do |photo| %>
      <div class="col col-6 col-md-2 my-2 rounded float-left profile-card-img">
        <%= content_tag(:h5,"Belong to #{photo.user.username}_#{photo.user.id}",class:"belong-user") %>
        <div class="profile-photo-card card border-0 align-items-center justify-content-center">
          <%= image_tag(photo.img, alt: "#{photo.title}", class: "profile-photo w-100 card-img-top", id: "avatar") %>
          <div class="card-body">
            <p class="card-text"><%= photo.title %></p>
          </div>
          <% unless photo.is_public? %>
            <i class="border-white fa-solid fa-lock private-photo"></i>
          <% end %>
          <%= link_to "View", photo_path(photo),class: "card-link-view btn btn-lg btn-primary", data: { turbo_frame: "remote_modal" } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="col-12">Nothing photos to show!!!</h3>
  <% end %>

</div>
