<h1>Search Page</h1>
<main role="main" class="col-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-start">
    <%= render "search/search_user", users: @users %>
    <hr/>
    <%= render "search/search_post", posts: @posts %>
    <hr/>
    <%= render "search/search_video", videos: @videos %>
  </div>
</main>