<h2>Log in</h2>
<hr/>

<div class="row justify-content-md-center">
  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
    <div class="card" style="border-radius: 15px;">
      <div class="card-body p-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "d-flex flex-column align-items-center" }) do |f| %>
          <div class="text-center mb-4">
            <%= image_tag('user.jpg', class: "photo-image rounded-circle", id: "",style: 'height:150px;width:150px') %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-lg"  %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class: "form-control form-control-lg"  %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="d-flex w-50 justify-content-center actions">
            <%= f.submit "Log in", class: "btn primary-bg btn-block btn-lg gradient-custom-4 text-white" %>
          </div>
          <div class="d-flex">
            <p class="mx-1">Not a member?</p><%= render "users/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

