<div id="<%= dom_id video %>">
  <div class="row">
    <div class="col-md-1">
      <% if current_user %>
        <%= render 'votable' , user: current_user, video: video %>
      <% else %>
        <%= render 'votable_guest',video: video%>
      <% end %>
    </div>
    <div class="col-md-11">
      <div class="card mb-3" style="border: none">
        <div class="card-header d-flex justify-content-between text-end">
          <div class="d-flex">
            <div class="d-flex justify-content-start align-items-center">
              <% if video.user.avatar_attachment %>
                <%= image_tag(video.user.avatar, alt: "User Avatar", class: "avatar-image rounded-circle") %>
              <% else %>
                <%= image_tag('user.jpg', alt: "User Avatar", class: "avatar-image rounded-circle") %>
              <% end %>
              <%= link_to "#{video.user.username}", profile_path(video.user),data:{turbo: false},class: "mx-1" %>
            </div>
            <% if current_user %>
              <% if video.user != current_user %>
                <%= render partial: 'profile/follow_button',locals: {user: video.user} %>
              <% end %>
            <% end %>
          </div>
          <%= render partial: 'videos/published_at',locals: {video: video} %>
        </div>
        <div class="card-body">
          <div class="video">
            <%= video_tag url_for(video.video), style: 'width:100%', controls: true, autoplay: true,loop: true %>
          </div>
        </div>
      </div>
      <div class="card mb-5" style="border: none">
        <div class="card-body pt-2">
          <h5 class="card-title"><%= video.title %></h5>
          <p class="card-text"><%= video.description %></p>
        </div>
        <div class="card-footer pt-3 pb-3">
          <strong>Tags:</strong>
          <% video.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag), data:{turbo: false}, class: "title-post-card rounded-3 px-2 py-1"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
