<div class="d-flex mb-2 justify-content-between">
  <h4>New Video</h4>
  <%= link_to "Back to videos", videos_path,class: "btn btn-secondary"%>
</div>

<hr/>
<%= render "form", video: @video %>

<br>

