<li class="nav-item dropdown " style="font-size: 19px;">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="badge rounded-pill bg-danger">
      <%= user.received_notifications.where(as_read: false).count >= 9 ? "9+" : user.received_notifications.where(as_read: false).count %> 📩
    </span>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
    <% user.received_notifications.where(as_read: false).limit(9).each do |notification| %>
      <li class="dropdown-item">
        <%= link_to notification.content, view_object_path(notification), data:{turbo: false}, class: "text-dark" %>
      </li>
    <% end %>
  </ul>
</li>
