<% if user_signed_in? %>
  <ul class="nav flex-column px-3">
    <% if current_user.user? %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.blank?) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🐧 #{t('home')}", root_path, class: "nav-link text-black"%>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("posts") && !path.include?("users") && !path.include?("admin")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📰 #{t('user.post.object.posts')}", posts_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("videos") && !path.include?("users")) && !path.include?("profile") && !path.include?("admin") }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📹 Videos", videos_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("posts") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🖋 #{t('user.post.object.user_post')}", posts_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("videos") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📼 My Videos", videos_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("tags") )}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🏷 #{t('user.tag.tags')}", tags_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("profile") && (path[1]==current_user.id.to_s))}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "#{current_user.male?? "👦":"👩"} #{t('user.profile.my_profile')}", profile_path(current_user.id), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item") do %>
        <div class="d-flex align-items-center">
          <%= link_to "💬 ChatAI", chats_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "nav-item mt-3") do %>
        <div class="d-flex align-items-center">
          <p class="px-2">
            <i class="fa-brands fa-twitter fa-xl "></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-facebook fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-github fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-instagram fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-twitch fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-tiktok fa-xl"></i>
          </p>
        </div>
      <% end %>
    <% end %>

    <% if current_user.admin? %>

      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.blank?) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🐧 #{t('home')}", root_path, class: "nav-link text-black"%>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("posts") && !path.include?("users") && !path.include?("admin")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📰 #{t('user.post.object.posts')}", posts_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("videos") && !path.include?("users")) && !path.include?("profile") && !path.include?("admin") }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📹 Videos", videos_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("posts") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🖋 #{t('user.post.object.user_post')}", posts_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("videos") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📼 My Videos", videos_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("tags") )}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🏷 #{t('user.tag.tags')}", tags_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("profile") && (path[1]==current_user.id.to_s))}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "#{current_user.male?? "👦":"👩"} #{t('user.profile.my_profile')}", profile_path(current_user.id), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item") do %>
        <div class="d-flex align-items-center">
          <%= link_to "💬 ChatAI", chats_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "nav-item mt-3") do %>
        <div class="d-flex align-items-center">
          <p class="px-2">
            <i class="fa-brands fa-twitter fa-xl "></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-facebook fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-github fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-instagram fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-twitch fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-tiktok fa-xl"></i>
          </p>
        </div>
      <% end %>
      <hr/>

      <h3 class="nav-title"> Admin</h3>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("admin") && path.include?("users")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "⚙ #{t('admin.user.user_management.management')}", admin_users_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("admin") && path.include?("posts")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "⚙ Post moderation", admin_posts_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("admin") && path.include?("videos")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "⚙ Video moderation", admin_videos_path, class: "nav-link text-black" %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.censor? %>

      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.blank?) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🐧 #{t('home')}", root_path, class: "nav-link text-black"%>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("posts") && !path.include?("users") && !path.include?("admin")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📰 #{t('user.post.object.posts')}", posts_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("videos") && !path.include?("users")) && !path.include?("profile") && !path.include?("admin") }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📹 Videos", videos_index_path(index: "top"), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("posts") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🖋 #{t('user.post.object.user_post')}", posts_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("users") && path.include?("videos") && (path.size < 3)) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "📼 My Videos", videos_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("tags") )}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "🏷 #{t('user.tag.tags')}", tags_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("profile") && (path[1]==current_user.id.to_s))}") do %>
        <div class="d-flex align-items-center">
          <%= link_to "#{current_user.male?? "👦":"👩"} #{t('user.profile.my_profile')}", profile_path(current_user.id), class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item") do %>
        <div class="d-flex align-items-center">
          <%= link_to "💬 ChatAI", chats_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "nav-item mt-3") do %>
        <div class="d-flex align-items-center">
          <p class="px-2">
            <i class="fa-brands fa-twitter fa-xl "></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-facebook fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-github fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-square-instagram fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-twitch fa-xl"></i>
          </p>
          <p class="px-2">
            <i class="fa-brands fa-tiktok fa-xl"></i>
          </p>
        </div>
      <% end %>
      <hr/>

      <h3 class="nav-title"> Censor</h3>

      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("admin") && path.include?("posts")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "⚙ Post moderation", admin_posts_path, class: "nav-link text-black" %>
        </div>
      <% end %>
      <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("admin") && path.include?("videos")) }") do %>
        <div class="d-flex align-items-center">
          <%= link_to "⚙ Video moderation", admin_videos_path, class: "nav-link text-black" %>
        </div>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <ul class="nav flex-column px-3">
    <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.blank?) }") do %>
      <div class="d-flex align-items-center">
        <%= link_to "🐧 #{t('home')}", root_path, class: "nav-link text-black"%>
      </div>
    <% end %>
    <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("posts") && !path.include?("users")) }") do %>
      <div class="d-flex align-items-center">
        <%= link_to "📰 #{t('user.post.object.posts')}", posts_index_path(index: "top"), class: "nav-link text-black" %>
      </div>
    <% end %>
    <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("videos") && !path.include?("users")) && !path.include?("profile") && !path.include?("admin") }") do %>
      <div class="d-flex align-items-center">
        <%= link_to "📹 Videos", videos_index_path, class: "nav-link text-black" %>
      </div>
    <% end %>
    <%= content_tag(:li,class: "hover-animation-nav-item nav-item #{"active" if(path.include?("tags") )}") do %>
      <div class="d-flex align-items-center">
        <%= link_to "🏷 #{t('user.tag.tags')}", tags_path, class: "nav-link text-black" %>
      </div>
    <% end %>
  </ul>
<% end %>