<nav id="slideBarRight" class="col-2 sidebar-right pt-5 d-none d-md-block">
  <div class="col-md-10 mt-5">
    <div class="profile-card text-center shadow bg-light p-4 rounded-3">
<!--      <h3 class="pt-3 text-dark">KLTN-HCMUTE</h3>-->
      <p class="text-secondary">Made by <span style="text-decoration: underline">TaQuocAnh</span></p>
      <p class="text-secondary">Contact:</p>
      <div class="social-links">
        <ul>
          <li><a href="https://www.facebook.com/tqanhute" target=”_blank” ><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="mailto:quocanhute@gmail.com"><i class="fa-solid fa-at"></i></a></li>
          <li><a href="https://github.com/quocanhute/" target=”_blank”><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/taquocanh/" target=”_blank”><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <% if @user_with_tag %>
    <div class="col-md-10 mt-5">
      <h4>Who follow this tag:</h4>
      <div class="d-flex flex-column px-3 py-3">
        <% @tag.users.each do |user| %>
          <div>
            <% if user.avatar.attached? %>
              <%= image_tag(user.avatar, alt: "#{user.username}", class: "avatar-image rounded-circle", id: "avatarUserHeader") %>
            <% else %>
              <%= image_tag("user.jpg", alt: "#{user.username}", class: "avatar-image rounded-circle", id: "avatarUserHeader") %>
            <% end %>
            <%= link_to "#{user.username }", profile_path(user),data:{turbo: false},class: "mx-1 text-dark" %>
          </div>
          <hr/>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
</nav>