<nav id="slideBarRight" class="col-2 sidebar-right pt-5 d-none d-md-block">
  <div class="col-md-10 mt-5">
    <div class="profile-card text-center shadow bg-light p-4 rounded-3">
      <h3 class="pt-3 text-dark">Something...</h3>
      <p class="text-secondary">Will handle later</p>
      <div class="social-links">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>