<div class="sidebar-left pt-5 col-2 d-none d-md-block ">
  <div class="sidebar-sticky pt-4">
    <%= render "shared/side_bar_left_item", path: path %>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tab Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= render "shared/side_bar_left_item", path: path %>
  </div>
</div>
