<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row">
    <div class="col-12">
      <%= render "shared/static_button_page", pages: "post" %>
      <div id="albumContent">
        <h1>Posts</h1>
        <%= turbo_frame_tag :posts, class: "row" do %>
          <%= render "posts/all_post_card", posts: @posts %>
        <% end %>
        <div id="load_more_button" class="d-flex justify-content-center mb-5">
          <% if @pagy.next.present? %>
            <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "btn btn-outline-primary btn-lg" %>
          <% else %>
          <span>
            <b>Nothing to show!!! 😁</b>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>