<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
    <div class="col-12">
      <section id="hero" class="wow fadeIn" >
        <div class="hero-container">
          <h1>Welcome to MyBlog</h1>
          <h2>Posts, videos and photos can be shared with this app.</h2>
          <%= image_tag("hero-img.png", alt: "Hero Imgs") %>
          <%= link_to "Get Started", posts_index_path(index: "top"), class: "btn-get-started scrollto"%>
        </div>
      </section>
    </div>
  </div>
</main>

