<main role="main" class="col-lg-8 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <button id="photoButton" class="btn btn-light primary-color"><%= link_to "PHOTOS", photos_index_path%></button>
      <button id="albumButton" class="btn btn-light primary-color"><%= link_to "ALBUMS", albums_index_path%></button>
    </div>
    <div>
      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
      <% else %>
        <h1>Please Login to see more</h1>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <h1>Admin role</h1>
        <% else %>
          <h1>User role</h1>
          <% end %>
      <% end %>
    </div>
  </div>
</main>