<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center col-12">
    <%= render "layouts/static_button_page", pages: "post" %>
    <div id="albumContent">
      <h1>Posts</h1>
    </div>
  </div>
</main>