
<main role="main" class="col-lg-8 px-md-4 mx-auto pt-3">
  <div class="row align-items-center justify-content-center">
    <div class="d-flex">
      <button class="btn primary-bg text-white">PHOTO</button>
      <button class="btn btn-light primary-color">ALBUM</button>
    </div>
    <div>
      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, method: :get %>
      <% end %>
    </div>>
  </div>
</main>