<main role="main" class="col-lg-12 px-md-4 mx-auto pt-3">
  <div class="row">
    <div class="col-12">
      <div id="postContent">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Posts</h1>
          <%= form_with(url: posts_index_path, method: :get, class: "form-inline my-2 my-lg-0 d-flex") do |form| %>
            <div class="position-relative d-flex">
              <%= hidden_field_tag 'index', params[:index].to_s %>
              <%= form.text_field :query,
                                  class: "form-control mr-sm-2",
                                  placeholder: "Search your post ....", autocomplete: "off" %>
              <div class="d-flex">
                <%= form.submit "🔦", class: "btn btn-outline-primary mx-2" %>
              </div>
            </div>
          <% end %>
          <div class="d-flex">
            <button class="<%= params[:index] == "top" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "TOP", posts_index_path(index: "top"),class: "text-white"%></button>
            <button class="<%= params[:index] == "oldest" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "OLDEST", posts_index_path(index: "oldest"), class: "text-white"%></button>
            <button class="<%= params[:index] == "newest" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "NEWEST", posts_index_path(index: "newest"), class: "text-white"%></button>
          </div>
        </div>
        <%= turbo_frame_tag :posts, class: "row" do %>
          <%= render "posts/all_post_card", posts: @posts %>
        <% end %>
        <div id="load_more_button" class="d-flex justify-content-center mb-5">
          <% if @pagy.next.present? %>
            <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "btn btn-outline-primary btn-lg" %>
          <% else %>
          <span>
            <b>Nothing to show!!! May be you need add more tags 😁</b>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>