<div class="row w-100 border-bottom text-white">
  <div class="col-10 text-white">
    <%= link_to chat_list, data: {turbo_frame: "_top"} do %>
      <i class="fa-solid fa-message"></i> <%= list_name(chat_list) %>
    <% end %>
  </div>
  <div class="col-1">
    <%= button_to @chat, method: :delete, data: {turbo_frame: "_top"}, class: 'border-none btn btn-dark pt-0' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
</div>

