<div class="">
  <div class="row w-100 mb-4">
    <div class="col-md-12 " >
      <div class="d-flex justify-content-center flex-column align-items-center rounded-3 position-relative" style="background-color: #EFEFEF">
        <div class="d-flex justify-content-between w-100 px-3 pt-3">
          <div class="d-flex">
            <% if @tag.tag_image.attached? %>
              <%= image_tag(@tag.tag_image, alt: "#{@tag.name}", class: "tag-image") %>
            <% end %>
            <h2><%= @tag.name %></h2>
          </div>
          <% if current_user %>
            <div class="d-flex">
              <%= render 'tags/added_button', tag: @tag, added_status: current_user.tag_added?(@tag) %>
              <div class="ms-2">
                <% if current_user.admin? %>
                  <%= link_to "Edit tag", edit_tag_path(@tag), class: "btn btn-outline-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p class="mb-3"><%= @tag.detail %></p>
      </div>
    </div>
  </div>
  <div class="row w-100 ">
    <div class="col-md-12">
      <div class="d-flex mb-3">
        <% path = URI.parse(request.original_url).path.split('/').reject(&:empty?)  %>
        <button class="<%= (path.include?("tags") && !path.include?("show_video")) ? "btn btn-primary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "POSTS WITH TAG", tag_path(index: params[:index].to_s),class: "text-white"%></button>
        <button class="<%= path.include?("show_video") ? "btn btn-primary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "VIDEOS WITH TAG", show_video_tag_path(index: params[:index].to_s), class: "text-white"%></button>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <%= form_with(url: tag_path(@tag), method: :get, class: "form-inline my-2 my-lg-0 d-flex") do |form| %>
          <div class="position-relative d-flex">
            <%= hidden_field_tag 'index', params[:index].to_s %>
            <%= form.text_field :query,
                                class: "form-control mr-sm-2",
                                placeholder: "Search your post ....", autocomplete: "off" %>
            <div class="d-flex">
              <%= form.submit "🔦", class: "btn btn-outline-primary mx-2" %>
            </div>
          </div>
        <% end %>
        <div class="d-flex">
          <button class="<%= params[:index] == "top" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "TOP", tag_path(@tag, index: "top"),class: "text-white"%></button>
          <button class="<%= params[:index] == "oldest" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "OLDEST", tag_path(@tag, index: "oldest"), class: "text-white"%></button>
          <button class="<%= params[:index] == "newest" ? "btn btn-secondary mx-1 primary-color":"btn primary-bg mx-1"%>"><%= link_to "NEWEST", tag_path(@tag, index: "newest"), class: "text-white"%></button>
        </div>
      </div>

      <div class="d-flex flex-column rounded-3 mt-3">
        <%= turbo_frame_tag "posts_tags_#{dom_id(@tag)}", class: "row" do %>
          <%= render "posts/all_post_card", posts: @posts %>
        <% end %>
        <div id="load_more_button_posts_tags_<%= dom_id(@tag) %>" class="d-flex justify-content-center mb-5">
          <% if @pagy.next.present? %>
            <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "btn btn-outline-primary btn-lg" %>
          <% else %>
          <span>
            <b>Nothing to show!!! May be you need add more tags 😁</b>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>