<h1>Editing photo</h1>
<hr/>
<%= render "form", photo: @photo %>

<hr/>
<div>
  <%= link_to "Back to photos", photos_path,class: "btn btn-primary" %>
  <%= button_to "Delete this photos", photo_path(@photo), :method => :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
