<div class="d-flex mb-2 justify-content-between">
  <h4>New photo</h4>
  <%= link_to "Back to photos", photos_path,class: "btn btn-secondary"%>
</div>

<hr/>
<%= render "form", photo: @photo %>

<br>

