<%= turbo_frame_tag "modal_photo" do %>
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @photo.title %></h5>
      </div>
      <div class="modal-body">
        <%= image_tag(@photo.img, alt: "#{@photo.title}", class: "profile-photo w-100 card-img-top", id: "photo-modal") %>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#",data:{ controller: "modals", action: "modals#close", class: "cancel-button" } %>
      </div>
    </div>
  </div>
<% end %>