<div id="<%= dom_id post %>">
  <div class="card mb-3">
    <img src="<%= url_for(post.header_image) %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.description %></p>
    </div>
  </div>
</div>
