<%= turbo_frame_tag "#{dom_id(post)}_published_at" ,class: "#{dom_id(post)}_published_at" do %>
  <% if post.published? %>
    <b>Published</b> <%= time_ago_in_words(post.published_at) %> ago
  <% else %>
    <b>Unpublished</b>
  <% end %>
<% end %>