<div class="row">
  <div class="col-md-3">
    <%= link_to "Back to posts", posts_path, class: 'btn btn-secondary mb-3' %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editing Post</h4>
        <%= render "form", post: @post %>
      </div>
      <div class="card-footer">
        <% if @post.published? %>
          <%= button_to "Unpublish", unpublish_post_path(@post), class: "btn btn-warning btn-block w-100"%>
        <% else %>
          <%= button_to "Publish", publish_post_path(@post), class: "btn btn-primary btn-block w-100"%>
        <% end %>
        <%= link_to "Delete", action_delete_post_post_path(@post),
                    class: "btn btn-danger w-100 mt-2", data: { turbo_frame: "remote_modal" } %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="mb-3">
      <%= form_with(model: [@post, @element]) do |form| %>
        <%= form.hidden_field :element_type, value: 'paragraph' %>
        <%= button_tag(type: "submit", class: "btn btn-dark float-start me-3") do %>
          <i class="fa-solid fa-paragraph"></i>
        <% end %>
      <% end %>
      <%= form_with(model: [@post, @element]) do |form| %>
        <%= form.hidden_field :element_type, value: 'image' %>
        <%= button_tag(type: "submit", class: "btn btn-dark") do %>
          <i class="fa-regular fa-image"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card mb-5" data-controller="edit-element-post">
      <div class="card-header text-end">
        <%= render partial: 'posts/published_at',locals: {post: @post} %>
      </div>
      <div class="card-body pt-5">
        <div class="sortable">
          <% @post.elements.order(:sort).all.each_with_sortable_id do |element, sortable_id| %>
            <div id="<%= sortable_id %>">
              <% if element.persisted? %>
                <% if element.paragraph? %>
                  <div class="mb-4 p-3 paragraph">
                    <div class="paragraph-content" data-action="click->edit-element-post#clickParagraphContent">
                      <% if element.content.present? %>
                        <%= element.content %>
                      <% else %>
                        Click to add content.
                      <% end %>
                    </div>
                    <div class="paragraph-form d-none">
                      <%= form_with(model: [@post, element]) do |form| %>
                        <%= form.rich_text_area :content %>
                        <div class="mt-3 d-flex justify-content-between">
                          <div>
                            <%= form.submit "Save", class: 'btn btn-primary'%>
                            <a href="#" class="cancel btn btn-secondary" data-action="click->edit-element-post#clickCancel">Cancel</a>
                          </div>
                          <%= link_to "Delete", post_element_path(@post, element), method: :delete,
                                      class: "btn btn-danger" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% elsif element.image? %>
                  <div class="mb-4 p-3 image">
                    <% if element.image.present? %>
                      <%= image_tag(element.image) %>
                      <%= link_to post_element_path(@post, element), method: :delete,
                                  class: "delete-btn btn btn-dark mt-2 float-end" do %>
                        <i class="fa-solid fa-xmark"></i>
                      <% end %>
                    <% else %>
                      <%= form_with(model: [@post, element]) do |form| %>
                        <%= form.file_field :image %>
                        <div class="mt-3">
                          <%= form.submit "Save", class: 'btn btn-primary'%>
                          <%= link_to "Delete", post_element_path(@post, element), method: :delete,
                                        class: " btn btn-danger"%>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
