<div class="row">
  <div class="col-md-3">
    <%= link_to "Back to posts", posts_path, class: 'btn btn-secondary mb-3' %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Post</h4>
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
  </div>
</div>
