<p style="color: green"><%= notice %></p>

<%= render @post %>
<div class="col-md-9">
  <div class="card mb-5">
    <div class="card-header text-end">
      <%= render partial: 'posts/published_at',locals: {post: @post} %>
    </div>
    <div class="card-body pt-5">
      <div class="sortable">
        <% @post.elements.order(:sort).all.each_with_sortable_id do |element| %>
            <% if element.persisted? %>
                <div class="mb-4 p-3 paragraph">
                  <div class="paragraph-content">
                    <% if element.content.present? %>
                      <%= element.content %>
                    <% else %>
                      This post don't having content now!
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
