<div class="row">
  <div class="col-md-12">
    <%= render @post %>
  </div>

</div>

<div class="blog-comment">
  <h3 class="text-success">Comments:</h3>
  <% if current_user %>
    <%= render partial: 'comments/form', locals: { post: @post , parent: nil, user: current_user, cancel: false} %>
  <% end %>

  <hr/>
  <div class="d-flex justify-content-center mb-5">
    <% if current_user %>
      <ul class="comments w-100">
        <turbo-frame id="post-comments_<%= @post.id %>">
          <% if @post.comments.count > 0 %>
            <%= render "comments/comments", post: @post %>
          <% else %>
            <b>No comments here!!! 😢😢😢</b>
          <% end %>
        </turbo-frame>
      </ul>
    <% else %>
      <% if @post.comments.count > 0 %>
        <ul class="comments w-100">
          <%= render "comments/comments_for_guest" , comments: @post.comments.where(parent_id: nil) %>
        </ul>
      <% else %>
        No comments here!!! 😢😢😢
      <% end %>
    <% end %>
  </div>


</div>
