.bs-offcanvas-width {
  width: 200px !important;
}

.profile-img{
  position: relative;
  text-align: center;
  .label-avatar{
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4b4b4b;
    width: 150px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
  }
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 80%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-card-img, .profile-card-album{
  text-align: center;
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-card-img, .profile-card-album{
  text-align: center;
  position: relative;
  .card-link-edit,
  .card-link-view {
    display: none; /* Hide the elements by default */
    position: absolute;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: #212529b8;
    bottom: 16%;

    &.card-link-edit {
      right: 1%;
    }

    &.card-link-view {
      left: 1%;
    }

    &.show {
      display: block;
      animation: fadeIn 0.3s ease-in-out; /* Apply the fade-in animation to the elements */
    }
  }

  &:hover {
    .card-link-edit,
    .card-link-view {
      @extend .show; /* Use the show class to trigger the fade-in animation */
    }
  }

  .private-photo {
    position: absolute;
    overflow: hidden;
    //margin-top: -20%;
    //width: 21%;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    //background: #212529b8;
    top: 1%;
    right: 1%;
    color: white;
  }

}

img{
  object-fit: cover;
}

// preview image album
.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow:auto;
}
.preview-images-zone > .preview-image {
  height: 150px;
  //width: 100%;
  position: relative;
  padding-right: 5px;
  float: left;
  padding-bottom: 5px;
}
.preview-images-zone > .preview-image > img {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .image-cancel {
  font-size: 7px;
  position: absolute;
  top: 1%;
  right: 5%;
  font-weight: bold;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.preview-image:hover > .image-zone {
  cursor: move;
  opacity: .5;
}
.preview-image:hover > .image-cancel {
  display: block;
}
.exist-images{
  width: 100%;
  height: 150px;
  img{
    width: 100%;
    height: 100%;
  }
}
.delete-image-checkbox{
  top: 4%;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.label-image-upload{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
  font-size: large;
}
.input-image-upload{
  display: none;
}

.photo-card {
  width: 100%;
  height: 100%;
  .card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.photo-image{
  //width: ;
  width: 100%;
  aspect-ratio: 2/2.5;
}
.profile-photo-card{
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .profile-photo{

    aspect-ratio: 1/1;
  }
}
.avatar-image{
  width: 35px;
  height: 35px;
  aspect-ratio: 1/1;
}

.pink-heart{
  color: #c0374c;
}

.disabled-image {
  opacity: 0.5;
}

.profile-album-card{
  position: relative;
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .profile-album{
    top: 0;
    aspect-ratio: 1/1;
  }
  .rotated-image1{
    position: absolute;
    transform: rotate(3deg);
  }
  .rotated-image2{
    position: absolute;
    transform: rotate(6deg);
  }
}

.belong-user{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.active{
  background-color: #a3d2f5;
  color: #fff;
  a{
    color: white;
  }
}
.hover-animation-nav-item{
  padding: 0 10px;
  border-radius: 10px;
  margin: 5px 5px;
  font-size: 19px;
  &:hover {
    background-color: #c7c7c7;
  }
}
.search-nav-item{
  padding: 0 10px;
  border-radius: 10px;
  margin: 5px 5px;
  font-size: 19px;
}

.circle-total-photos {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #727272; /* Replace with your desired color */
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.card-user-detail{

  .avatar-user{
    width: 50px;
    height: 50px;
  }
}
.suggestion{
  background-color: #cccdce;
  .suggestion-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.modal-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// element post

.paragraph{
  transition: background-color 0.5s ease;
  &:hover{
    background-color: #f8f9fa;
    cursor: pointer;
  }
}

.image{
  text-align: center;
  img{
    max-width: 80%;
  }
}

.post-card{
  .header-img{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
  }
}

.delete-btn{
  position: absolute;
  right: calc(10% + 64px);
  opacity: 0.7;
}

.sub-comment{
  padding-left: 20px;
}

.comment-form{
}

.profile-card {
  transition: 0.5s;
}
.profile-card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.profile-photo-post {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}
.social-links ul {
  padding: 0px;
  margin: 0px;
}
.social-links ul li {
  list-style: none;
  display: inline-block;
  margin: 2px 0px;
  font-size: 20px;
}
.social-links ul li a {
  color: #333;
  padding: 2px 6px;
  border-radius: 5px;
  transition: 0.5s;
}
.social-links ul li:hover a {
  background-color: #333333;
  color: #fff;
  transition: 0.5s;
}

// votable

.item-votable{
  font-size: 45px;
}
.item-votable-comment{
  font-size: 20px;
}


.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
  content: "";
  display: table;
  clear: both;
}

.blog-comment{
  padding-left: 15%;
  padding-right: 15%;
}

.blog-comment ul{
  list-style-type: none;
  padding: 0;
}

.blog-comment img{
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.blog-comment img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 65px;
  height: 65px;
}

.blog-comment .post-comments{
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
}

.blog-comment .meta {
  font-size: 13px;
  color: #aaaaaa;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}

.blog-comment-form{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
}
.img-responsive{
  width: 200px;
  height: 200px;
}
// Home post

.title-post-card:hover {
  border: 2px solid #b6b6b6; /* Màu sắc và độ rộng của border */
  background-color: #d8d8d8; /* Màu sắc của background */
  color: #6C757D;
}

.title-post-card {
  color: #6C757D;
}

// tag
.tag-image{
  width: 55px;
  height: 55px;
  aspect-ratio: 1/1;
}
// profile
.avatar-profile{
  position: relative;
  bottom: 50px;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}