.bs-offcanvas-width {
  width: 200px !important;
}

.profile-img{
  position: relative;
  text-align: center;
  .label-avatar{
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4b4b4b;
    width: 120px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
  }
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 80%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-card-img, .profile-card-album{
  text-align: center;
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-card-img, .profile-card-album{
  text-align: center;
  position: relative;
  .card-link-edit,
  .card-link-view {
    display: none; /* Hide the elements by default */
    position: absolute;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: #212529b8;
    bottom: 16%;

    &.card-link-edit {
      right: 1%;
    }

    &.card-link-view {
      left: 1%;
    }

    &.show {
      display: block;
      animation: fadeIn 0.3s ease-in-out; /* Apply the fade-in animation to the elements */
    }
  }

  &:hover {
    .card-link-edit,
    .card-link-view {
      @extend .show; /* Use the show class to trigger the fade-in animation */
    }
  }

  .private-photo {
    position: absolute;
    overflow: hidden;
    //margin-top: -20%;
    //width: 21%;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    //background: #212529b8;
    top: 1%;
    right: 1%;
    color: white;
  }

}

img{
  object-fit: cover;
}

// preview image album
.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow:auto;
}
.preview-images-zone > .preview-image {
  height: 150px;
  //width: 100%;
  position: relative;
  padding-right: 5px;
  float: left;
  padding-bottom: 5px;
}
.preview-images-zone > .preview-image > img {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .image-cancel {
  font-size: 7px;
  position: absolute;
  top: 1%;
  right: 5%;
  font-weight: bold;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.preview-image:hover > .image-zone {
  cursor: move;
  opacity: .5;
}
.preview-image:hover > .image-cancel {
  display: block;
}
.exist-images{
  width: 100%;
  height: 150px;
  img{
    width: 100%;
    height: 100%;
  }
}
.delete-image-checkbox{
  top: 4%;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.label-image-upload{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
  font-size: large;
}
.input-image-upload{
  display: none;
}

.photo-card {
  width: 100%;
  height: 100%;
  .card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.photo-image{
  //width: ;
  width: 100%;
  aspect-ratio: 2/2.5;
}
.profile-photo-card{
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .profile-photo{

    aspect-ratio: 1/1;
  }
}
.avatar-image{
  width: 35px;
  height: 35px;
  aspect-ratio: 1/1;
}

.pink-heart{
  color: #c0374c;
}

.disabled-image {
  opacity: 0.5;
}

.profile-album-card{
  position: relative;
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .profile-album{
    top: 0;
    aspect-ratio: 1/1;
  }
  .rotated-image1{
    position: absolute;
    transform: rotate(3deg);
  }
  .rotated-image2{
    position: absolute;
    transform: rotate(6deg);
  }
}

.belong-user{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.active{
  background-color: #a3d2f5;
  color: #fff;
  a{
    color: white;
  }
}
.nav-item{
  padding: 0 10px;
  border-radius: 10px;
  margin: 5px 5px;
  font-size: 16px;
  &:hover {
    background-color: #c7c7c7;
    color: #fff;
    a{
      color: white;
    }
  }
}

.circle-total-photos {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #727272; /* Replace with your desired color */
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.card-user-detail{

  .avatar-user{
    width: 100%;
  }
}
.suggestion{
  background-color: #cccdce;
  .suggestion-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.modal-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// element post

.paragraph{
  transition: background-color 0.5s ease;
  &:hover{
    background-color: #f8f9fa;
    cursor: pointer;
  }
}