.bs-offcanvas-width {
  width: 200px !important;
}

.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 80%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-card-img{
  text-align: center;
  position: relative;
}

.profile-card-img .card-link-file {
  position: absolute;
  overflow: hidden;
  //margin-top: -20%;
  //width: 21%;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background: #212529b8;
  bottom: 16%;
  right: 1%;
}
.profile-card-img .private-photo {
  position: absolute;
  overflow: hidden;
  //margin-top: -20%;
  //width: 21%;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  //background: #212529b8;
  top: 1%;
  right: 1%;
  color: white;
}
img{
  object-fit: cover;
}

// preview image album
.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow:auto;
}
//.preview-images-zone > .preview-image:first-child {
//  height: 185px;
//  width: 185px;
//  position: relative;
//  margin-right: 5px;
//}
.preview-images-zone > .preview-image {
  height: 150px;
  width: 150px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.preview-image:hover > .image-zone {
  cursor: move;
  opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
  display: block;
}

.selected-file {
  background: #ddeeff;
  border-radius: 0.2em;
  margin-top: 1px;
  padding: 0.2em;
}

.selected-file input[type='file'] {
  display: none;
}
.exist-images{
  height:250px;
  width:250px;
}
.delete-image-checkbox{
  top: 4%;
  right: 4%;
}


.label-image-upload{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  font-size: large;
}
.input-image-upload{
  display: none;
}

.photo-card {
  .card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.photo-image{
  aspect-ratio: 2/2.5;
}