<main role="main" class="col-lg-10 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <!-- app/views/users/index.html.erb -->
    <h1>Users Management</h1>
    <div class="d-flex mb-3">
      <button class="btn btn-primary mx-1"><%= link_to "LIST USERS", admin_users_path,class: "text-white"%></button>
      <button class="btn btn-primary mx-1"><%= link_to "LIST BAN USERS", admin_index_ban_user_path, class: "text-white"%></button>
    </div>
    <table class="table overflow-auto mt-3">
      <thead class="table-dark">
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.first_name %></th>
          <th><%= user.last_name %></th>
          <th><%= user.email %></th>
          <th><%= user.role %></th>
          <th>
            <%= link_to "EDIT", edit_admin_user_path(user),class: "btn btn-warning text-white",data: { turbo_frame: "remote_modal" } %>
            <%= link_to "UNBAN", action_unban_user_admin_user_path(user), class: "btn btn-success text-white" ,data: { turbo_frame: "remote_modal" }%>
          </th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</main>