<%= render "layouts/remote_modal" do %>
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= render "profile/user", user: @user %>
  </div>
<% end %>

