<%= render "layouts/remote_modal" do %>
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <h1>Accept this video?</h1>
    <div class="d-flex justify-content-between w-100">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
      <%= button_to "Yes", accept_video_admin_video_path(@video), class: "btn btn-danger" %>
    </div>
  </div>
  <div class="modal-footer"></div>
<% end %>
