<main role="main" class="col-lg-10 px-md-4 mx-auto pt-3">
  <div class="row justify-content-center">
    <!-- app/views/users/index.html.erb -->
    <h1>Videos moderation</h1>
      <% if @videos.count > 0 %>
        <table class="table overflow-auto mt-3">
          <thead class="table-dark">
            <tr>
              <th scope="col">Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @videos.each do |video| %>
            <tr>
              <th><%= link_to video.title, video_path(video),class: "text-dark" %></th>
              <th>
                <%= link_to "ACCEPT", action_accept_video_admin_video_path(video),class: "btn btn-success text-white",data: { turbo_frame: "remote_modal" } %>
                <%= link_to "REFUSE",action_refuse_video_admin_video_path(video), class: "btn btn-danger text-white" ,data: { turbo_frame: "remote_modal" }%>
              </th>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
          <span class="d-flex justify-content-center">
            <b>No videos to check!!! 😁</b>
          </span>
      <% end %>
  </div>
  <%= paginate @videos, theme: 'bootstrap-5',
               pagination_class: "pagination-sm flex-wrap justify-content-center",
               nav_class: "d-inline-block col-12" %>
</main>