<% albums.each do |album| %>
  <div class="col col-3 my-2 rounded float-left">
    <div class="card border-0 align-items-center justify-content-center" style="width: 18rem;">
      <img class="w-100 card-img-top" src="https://picsum.photos/300/300" alt="<%= album.title %>" data-bs-toggle="modal" data-bs-target="#modal" data-image-src="https://picsum.photos/300/300" data-image-alt="<%= album.title %>">
      <div class="card-body">
        <p class="card-text"><%= album.title %></p>
      </div>
    </div>
  </div>
<% end %>

<!-- MODAL SHOW IMG -->
<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="w-100" id="modalImage" src="" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<script>
    var modal = document.getElementById("modal");
    var modalImage = document.getElementById("modalImage");
    var modalTitle = document.getElementById("modalLabel");

    var cards = document.querySelectorAll("[data-bs-target='#modal']");

    cards.forEach(function(card) {
        card.addEventListener("click", function() {
            var imgSrc = this.dataset.imageSrc;
            var imgAlt = this.dataset.imageAlt;

            modalImage.src = imgSrc;
            modalImage.alt = imgAlt;

            modalTitle.textContent = imgAlt;
        });
    });
</script>


