<main>
  <%= render "profile/user", user: @user %>
  <div class="team-boxed">
    <div class="container">
      <div class="row people">
        <% @follower.each do |user| %>
          <%= render "profile/user_card", user: user %>
        <% end %>
      </div>
    </div>
  </div>
</main>