<div class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light primary-bg">
    <div class="container-xl">
      <div class="d-flex">
        <%= link_to "Photobook", root_path, class: "navbar-brand text-white" %>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="float-right">
            <ul class="nav float-right">
<!--              <li class="nav-item dropdown">-->
<!--                <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">-->
<!--                  Welcome <%#= current_user.email %><b class="caret"></b>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu">-->
<!--                  <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>-->
<!--                  <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>-->
<!--                  <li class="dropdown-divider"></li>-->
<!--                  <li>-->
                    <%#= button_to "Sign out", destroy_user_session_path, class: "btn btn-outline-light my-2 my-sm-0 text-white", method: :delete %>
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
              <div class="dropdown">
<!--                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                  Welcome <%#= current_user.email %>-->
<!--                </button>-->
                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
                  Welcome <%= current_user.last_name %></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, class: "my-2 my-sm-0 dropdown-item", method: :delete %></li>
                </ul>
              </div>
            </ul>
          </div>
      <% else %>
          <%= button_to "Sign in", new_user_session_path,class: 'btn btn-outline-light my-2 my-sm-0 text-white', method: :get %>
        <% end %>
      </div>
    </div>
  </nav>
</div>