<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
  </head>
  <% path = URI.parse(request.original_url).path.split('/').reject(&:empty?)  %>
  <body>
    <%= render 'shared/header' %>
    <main role="main" class="row col-12 col-md-8 px-md-4 mx-auto pt-3">
      <%= render 'shared/slide_bar_left', path: path %>
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
      <div class="row d-flex align-items-center h-100">
        <% if notice %>
          <script type="text/javascript" >
            toastr.success("<%= notice %>")
          </script>
        <% end %>
        <% if alert %>
          <script type="text/javascript" >
            toastr.error("<%= alert %>")
          </script>
        <%end %>
        <%= yield %>
      </div>
      <%= render'shared/slide_bar_right' %>

    </main>
  </body>
</html>
