<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>
<hr/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "d-flex flex-column align-items-center", method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="col-md-4">
    <div class="profile-img">
      <div data-controller="upload-image">
        <div class="avatar">
          <% if resource.avatar.attached? %>
            <%= image_tag(resource.avatar, alt: "#{resource.username}", class: "avatar-image", id: "avatarUser",style: 'height:150px;width:150px',data: { target: 'upload-image.avatar'}) %>
          <%else %>
            <%= image_tag('user.jpg', alt: "#{resource.username}", class: "avatar-image", id: "avatarUser",style: 'height:150px;width:150px',data: { target: 'upload-image.avatar'}) %>
          <% end %>
        </div>
        <%= f.label :avatar,"Change Avatar", class: "col-6 col-form-label label-avatar" %>
        <%= f.file_field :avatar,
                         class: "d-none",
                         placeholder: 'Update picture',
                         data:{action: 'change->upload-image#handleChange'},
                         accept: 'image/*',
                         direct_upload: true %>
      </div>
    </div>
  </div>

  <h2>Basic information</h2>

  <div class="form-group  d-flex mb-3 w-25 mx-5">
    <%= f.label :email, class: "col-6 col-form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-6 form-control here" , disabled: true%>
  </div>


  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :first_name,class: "col-6 col-form-label" %>
    <%= f.text_field :first_name ,class: "col-6 form-control here" %>
  </div>

  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :last_name,class: "col-6 col-form-label" %>
    <%= f.text_field :last_name ,class: "col-6 form-control"%>
  </div>

  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :sex,class: "col-6 col-form-label" %>
    <%= f.select :sex, User.sexes.keys ,class: "col-6 form-control" %>
  </div>

  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :phone_number,class: "col-6 col-form-label" %>
    <%= f.text_field :phone_number ,class: "col-6 form-control"%>
  </div>

  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :address,class: "col-6 col-form-label" %>
    <%= f.text_field :address ,class: "col-6 form-control"%>
  </div>

  <div class="form-group  d-flex mb-3 w-25">
    <%= f.label :birthday,class: "col-6 col-form-label" %>
    <%= f.date_field :birthday ,class: "col-6 form-control",type: "date"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <h2>Password</h2>
  <div class="form-group d-flex mb-3 w-25">
    <%= f.label :current_password,class: "col-6 col-form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password",class: "col-6 form-control" %>
  </div>

  <div class="form-group d-flex mb-3 w-25">
    <%= f.label :password,class: "col-6 col-form-label"%>
    <%= f.password_field :password, autocomplete: "new-password",class: "col-6 form-control",placeholder: "#{@minimum_password_length} characters minimum" %>
    <% if @minimum_password_length %>
      <br />
      <em></em>
    <% end %>
  </div>

  <div class="form-group d-flex mb-3 w-25 ">
    <%= f.label :password_confirmation,class: "col-6 col-form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "col-6 form-control" %>
  </div>



  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary primary-bg" %>
  </div>
<% end %>
<hr/>

<%= link_to "Back", :back,class: "btn btn-primary primary-bg col-1" %>
