<h2>Sign up</h2>
<hr/>
<div class="row justify-content-md-center">
  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
    <div class="card" style="border-radius: 15px;">
      <div class="card-body p-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "d-flex flex-column align-items-center" }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="col-md-4">
            <div class="profile-img">
              <div data-controller="upload-image">
                <div class="avatar">
                  <%= image_tag('user.jpg', class: "photo-image", id: "avatarUserRegister",style: 'height:150px;width:150px',data: { target: 'upload-image.avatar'}) %>
                </div>
                <%= f.label :avatar,"Change Avatar", class: "col-6 col-form-label label-avatar" %>
                <%= f.file_field :avatar,
                                 class: "d-none",
                                 placeholder: 'Update picture',
                                 data:{action: 'change->upload-image#handleChange'},
                                 accept: 'image/*',
                                 direct_upload: true %>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :email, class: "" %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :sex %>
            <%= f.select :sex, User.sexes.keys ,class: "form-control form-control-lg"%>
          </div>
          <div class="form-outline mb-4 w-100">
            <%= f.label :phone_number, class: "" %><br/>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :address, class: "" %><br/>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :birthday, class: "" %><br/>
            <%= f.date_field :birthday, autofocus: true, autocomplete: "birthday", class: "form-control form-control-lg"%>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4 w-100">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
          </div>

          <div class="d-flex w-50 justify-content-center actions">
            <%= f.submit "Sign up", class: "btn primary-bg btn-block btn-lg gradient-custom-4 text-white" %>
          </div>
          <div class="d-flex w-50 justify-content-center actions">
            <p>Already a member?</p><%= render "users/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
